　　　<!DOCTYPE html>
　　　<html>
　　　    <head>
　　　        <title>くじ結果(仮)</title>
　　　        <link rel="stylesheet" href="stylesheets/common.css">
　　　    </head>
　　　    <body>
　　　        <header><h1>くじ結果(仮)</h1></header>
 　　　       <div class="searchResult">
　　　            <% if(result==='success'){              %>
 　　　           <table>
　　　                <tr><th>index</th><th>date</th><th>stadium</th><th>No</th><th>home</th><th>points</th><th>away</th><th>result</th></tr>
　　　            <%     var rowIndex = 0;                %>
　　　            <%     for(var ii in recordList ){      %>
　　　            <%         rowIndex = rowIndex+1;       %>
　　　            <%         var record = recordList[ii]; %>
　　　                <tr>
　　　                    <td><%= record.index %></td>
　　　                    <td><%= record.date %></td>
　　　                    <td><%= record.stadium  %></td>
　　　                    <td><%= record.No  %></td>
　　　                    <td><%= record.home  %></td>
　　　                    <td><%= record.points  %></td>
　　　                    <td><%= record.away  %></td>
　　　                    <td><%= record.result  %></td>
 　　　               </tr>
 　　　           <%     }                                %>
 　　　           </table>
　　　            <% } else {                             %>
　　　                <p><%= message %></p>
 　　　           <% }                                    %>
　　　        </div>
　　　    </body>
　　　</html>